html {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

body {
  margin: 0;
}

.button-options-container {
  justify-content: left;
  width: 63.5%;
}
.button-options-container button {
  border: none;
  background-color: #003680;
  color: white;
  padding: 13px 16px;
  font-size: 15px;
  margin: auto 3px;
}

.button-options-container button:hover {
  border: 1px solid white;
  border-radius: 23px;
}

.circle {
  border: 1px solid white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: auto 5px;
}

#currency {
  border: none;
  background-color: #003680;
  color: white;
}

form {
  width: 63.5%;
  display: flex;
  height: 60px;
}

header {
  background-color: #003680;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header a {
  color: white;
  text-decoration: none;
}
.inner-container h1 {
  font-size: 20px;
}
.header-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 63.5%;
}

.inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search {
  background-color: #0071c2;
  color: white;
  width: 130px;
  font-size: 15px;
}

.search-form-item {
  flex-grow: 1;
  font-size: 15px;
  margin: 3px;
}

.search-location-text-container {
  margin-top: 0;
  background-color: #003680;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 63.5%;
}
.search-location {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #003680;
}
.search-location form {
  background-color: #febb02;
  padding: 2px;
  margin-bottom: -30px;
}
