header {
  background-color: #003680;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header a {
  color: white;
}
.one {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.one button {
  margin-left: 20px;
}

.search-location {
  margin-top: 0;
  background-color: #003680;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.search-location h1 {
  /* margin-top: -21.44px; */
}
