html {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

body {
  margin: 0;
}

.button-options-container {
  justify-content: left;
  width: 100%;
  max-width: 1100px;
}
.button-options-container button {
  border: none;
  background-color: #003680;
  color: white;
  padding: 13px 16px;
  font-size: 15px;
  margin: auto 3px;
}

.active {
  border: 1px solid white !important;
  border-radius: 23px;
}
.button-options-container button:hover {
  background-color: #204a8c;
  border-radius: 23px;
}

.circle {
  border: 2px solid white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: auto 17px;
  overflow: hidden;
  font-weight: 500;
}

.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  align-items: center;
}

.container section {
  width: 100%;
}

#covidInfo {
  border: 1px solid #c2c2c2;
  max-width: 1100px;
}

#covidInfo a {
  text-decoration: none;
}

#covidInfo h1 {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  padding: 15px;
}

#currency {
  border: none;
  background-color: #003680;
  color: white;
}

#customerService {
  background-color: #003680;
  color: white;
}

.deals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  max-width: 1100px;
  width: 100%;
}

.deals-button {
  color: #0071c2;
  background-color: white;
  border: 1px solid #0071c2;
  border-radius: 2px;
  font-size: 15px;
  padding: 10px;
}

.deals h1 {
  font-size: 16px;
  line-height: 24px;
}

.deals img {
  width: 90px;
  height: 90px;
  margin: 18px 18px 20px 18px;
}

.deals p {
  font-size: 14px;
}

.deals section {
  border: 1px solid #c2c2c2;
  max-width: 530px;
  padding: 0 0 10px 10px;
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 240px;
  align-items: flex-start;
}

.card h2 {
  font-size: 15px;
  padding: 12px 0 0px 0;
  margin: 0;
}

.card p {
  font-size: 14px;
  padding-top: 4px;
  font-weight: 300;
  margin: 0;
}

.card img {
  height: 170px;
  width: 170px;
}

.city-property-container {
  width: 100%;
  max-width: 1100px;
}

.explore-USA {
  max-width: 1100px;
}

.explore-USA-card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

form {
  width: 100%;
  max-width: 1100px;
  display: flex;
  height: 60px;
}

header {
  background-color: #003680;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  margin: auto 4px;
  padding: 11px;
  font-size: 15px;
  font-weight: 500;
}
.inner-container h1 {
  font-size: 25px;
  font-weight: 600;
}
.header-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  padding-top: 2px;
}

.inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#LasVegas {
  background: url(https://cf.bstatic.com/xdata/images/city/540x270/349717.webp?k=15138e712e1083b40d0c1164fad96f5adce36dbe3707fe483f516a555765e561&o=);
  background-repeat: no-repeat;
  background-size: auto;
}

#LosAngeles {
  background: url(https://cf.bstatic.com/xdata/images/city/540x270/620034.webp?k=57be46c03c63ddade3e509013855574fe00e8b23e30dc19cd6cc232b4da7eb7e&o=);
  background-repeat: no-repeat;
  background-size: auto;
}

.location {
  width: 355px;
  height: 270px;
}

.location-container {
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  color: white;
} 

.location-text-container{
  padding-left: 16px;
}

.location-text-container h1{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #000;
}

.location-text-container p{
  font-size: 16px;
  line-height: 1px;
  font-weight: 300;
  text-shadow: 1px 1px 1px #000;
  
}

.major-location {
  color: white;
  height: 285px;
  width: 540px;
}

.major-location-container {
  display: flex;
  justify-content: space-between;
}

#PalmSprings {
  background: url(https://cf.bstatic.com/xdata/images/city/540x270/689354.webp?k=bbdffcc102bbeceb3f36d5c55bf031fcaa67314ab1ce88be019496fc9c03facd&o=);
  background-repeat: no-repeat;
  background-size: auto;
}

#SanDiego {
  background: url(https://cf.bstatic.com/xdata/images/city/540x270/689373.webp?k=653f4e64198a8728a4ca792a53cc44103b1c1ab8ab3a0328033fb253383ea13e&o=);
  background-repeat: no-repeat;
  background-size: auto;
}

#SanFrancisco {
  background: url(https://cf.bstatic.com/xdata/images/city/540x270/689394.webp?k=23b0050a839e18850cc6b64186787bdd846385ae280f2bdff2ced0a438f72112&o=);
  background-repeat: no-repeat;
  background-size: auto;
}

.search {
  background-color: #0071c2;
  color: white;
  width: 130px;
  font-size: 15px;
}

.search-form-item {
  flex-grow: 1;
  font-size: 15px;
  margin: 3px;
  border: none;
  border-radius: 2px;
}

.search-location-text-container {
  margin-top: 0;
  background-color: #003680;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  margin-bottom: 10px;
}

.search-location-text-container h1 {
  font-size: 47px;
  font-weight: 700;
  margin: 80px 0 0;
  letter-spacing: 2px;
}
.search-location-text-container p {
  font-size: 25px;
  font-weight: 100;
  margin-top: 8px;
}

.search-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #003680;
}

.search-location form {
  background-color: #febb02;
  padding: 2px;
  margin-bottom: -30px;
  border-radius: 2px;
}

.travel-for-work {
  width: 100%;
  max-width: 1100px;
  margin-bottom: 40px;
  margin-top: 3px;
}

input[type="checkbox"] {
  background-color: black;
  border-color: #c2c2c2;
}

.white-BG {
  background-color: white;
  color: #003680;
  border-color: #003680;
}
